<nav>
  <ul class="dropdown-menu">
    {% for cat in site.data.categories %}
      {% assign key = cat[0] %}
      {% assign name = cat[1] %}
      <li class="dropdown">
        <span>{{ name }}</span>
        <ul class="submenu">
          {% for recipe in site.recipes %}
            {% if recipe.path contains key %}
              <li><a href="{{ recipe.url | relative_url }}">{{ recipe.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</nav>


