<nav>
  <ul>
    {% for cat in site.data.categories %}
      {% assign cat_key = cat[0] %}
      {% assign cat_value = cat[1] %}
      <li class="dropdown">
        <button class="dropbtn">
          {{ cat_value.name_de }}
        </button>
        <div class="dropdown-content">
          {% assign recipes_folder = cat_value.path %}
          {% for page in site.pages %}
            {% if page.path contains recipes_folder %}
              <a href="{{ page.url | relative_url }}">{{ page.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </li>
    {% endfor %}
  </ul>
</nav>

