body {
  background-image: url('Archives-of-the-culinary-starfleet/assets/img/galaxy_bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.prose h3 {
  color: #ffd700;
}

.prose ul li::marker {
  color: #ffcc00;
}
